*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-size: 15px;
    background: black;
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;;
}
.logo{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}

  .section .img{
    border-radius: 50px;
}
.section .img img{
    position: relative;
    width: 30vw;
    box-shadow: 00 25px solid red ;
    border-radius: 50%;
    transition: 02s linear;
    cursor: pointer;
}
.link a{
    display: inline-block;
    justify-content:center ;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid red;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    text-align: center;
    transition: 0.3 ease;
    color: thistle;
    margin: 0;
}
 .link :hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 25px red;

}
nav a {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav a:active{
    display: block;
}


nav a:hover,nav a:active{
    padding: 1px;
    border-radius: 0.5rem;
    border-bottom: 0.3rem solid red;
}

.actve{
    color: red;
    border-bottom: 2px solid red

}
nav :hover{
    border-bottom: 2px solid rgb(255, 4, 4)
}
.typing text{
    color: red;
}
span{
    color: rgb(255, 4, 4);
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem; 

}
.section .txst{
    font-size: 6rem;
    font-weight:700;
    line-height: 1.3;

}
.section .txst h3{
    font-size: 4rem;
}
.but a{
    text-decoration: none;
    color: white;
    border-radius: 17px;
    margin: 6px;
    padding: 6px;
    border: 2px solid red;
    display: grid;
    text-align: center;
    margin-right: 45%;

}
.but a:hover{
    background-color: red;
    box-shadow: 0 0 25px red;
}
.anmi::before{
    content: "Software Developer";
    color: red;
    animation: words 20s infinite;
}
 .anmi::after{
    content: "";
    background-color: black;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid red;
    }
}
@keyframes words{
    0%, 20% {
        content: "Web Developer";
    }
    21%, 40% {
        content: "Software Developer";
    }
    41%, 80% {
        content: "Web Designer";
    }
    61%, 80%{
        content: "Software with ";
    }
}